# mark
zealusercontributions/
freshermeat/
torrents-csv-server/
kitsunekko-tools/
webtag/

# cache
changedetection.io/
audiobookshelf/
headscale/
citadel/

# api
web-check/

# tbd
SilverDict/
pic-smaller/
MyIP/
it-tools/